<script lang="ts">
  import { onMount } from 'svelte';
  import axios from 'axios';
  import { Scatter } from 'svelte-chartjs';
  import type { ChartData, Point } from 'chart.js';
  import {
    Chart as ChartJS,
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    PointElement,
    CategoryScale,
  } from 'chart.js';
  ChartJS.register(
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    PointElement,
    CategoryScale
  );
  let message = '';

  let data: ChartData<'scatter', Point[], unknown> = {
    datasets: [
      {
        label: 'sus',
        borderColor: 'rgb(75, 192, 192)',
        showLine: true,
        data: [{ x: 20, y: 20 }],
      },
    ],
  };
  let options = {};

  onMount(() => {
    refresh();
  });
  const API = import.meta.env.VITE_API;
  const refresh = async () => {
    const res = await axios.get(`${API}/data`);
    console.log(res.data);
    data.datasets[0].data = res.data;
  };
</script>

<h1>{message}</h1>

<button on:click={refresh}>refresh</button>
<Scatter {data} />
